body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.nav-style ul {
  display: flex;
  list-style: none;
  justify-content: center;
  text-decoration: none;
}

.nav-style li {
  margin-right: 20px;
  color: white;
}

.nav-style a {
  color: white;
  text-decoration: underline !important;
}

