.haikuform {
  height: 100vh;
  background-image: url("https://storage.needpix.com/rsynced_images/sumi-1595365_1280.jpg");
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: "EB Garamond", serif;
  background-size: cover; /* Resize the background image to cover the entire container */
  background-position-y: auto;
  background-repeat: no-repeat;
  background-position: center; /* Center the image */
}

.haikuform label {
  font-size: 30px;
}

.haikuform form {
  margin-top: 90px;
  -webkit-box-shadow: -1px 0px 33px -5px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: -1px 0px 33px -5px rgba(0, 0, 0, 0.53);
  box-shadow: -1px 0px 33px -5px rgba(0, 0, 0, 0.53);
  border-radius: 5px;
  height: 500px;
  background-color: rgba(245, 245, 245);
  padding: 30px;
}

.warning {
  text-align: justify;
  padding:10px;
  font-size: 22px;
  margin-left: 100px;
  background-color: rgba(236, 215, 97, 0.616);
  margin-top: 100px;
  height:360px;
  width: 300px;
  -webkit-box-shadow: -1px 0px 33px -5px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: -1px 0px 33px -5px rgba(0, 0, 0, 0.53);
  box-shadow: -1px 0px 33px -5px rgba(0, 0, 0, 0.53);
  border-radius: 5px;
}

.warning h6{
  font-size: 22px;
}

.notsuccesful,
.notsuccesful::after {
  transform:scaley(0.95);
	animation-delay: var(--animation-delay, 2s);
	animation-iteration-count: var(--iterations, 1);
	animation-duration: var(--duration, 800ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.notsuccesful {
	--animation-delay: var(--delay, 0);
	--animation-duration: var(--duration, 20000ms);
	--animation-iterations: var(--iterations, 1);
	position: relative;
	font-size: 25px;
	animation-name: clip-text;
	color: black;
	white-space: nowrap;
	cursor: default;
}
	::after {
		content: "";
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
    bottom: 0;
		background-color: #e84c3d;
		transform: scaleX(0);
		transform-origin: 0 50%;
		pointer-events: none;
		animation-name: text-revealer;
	}
	
	.notsuccesful,
	.notsuccesful::after {
		transform:scaley(0.95);
		animation-delay: var(--animation-delay, 2s);
		animation-iteration-count: var(--iterations, 1);
		animation-duration: var(--duration, 800ms);
		animation-fill-mode: both;
		animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
	}
	
	.notsuccesful {
		--animation-delay: var(--delay, 0);
		--animation-duration: var(--duration, 20000ms);
		--animation-iterations: var(--iterations, 1);
		position: relative;
		font-size: 25px;
		animation-name: clip-text;
		color: black;
		white-space: nowrap;
		cursor: default;
	}
		::after {
			content: "";
			position: absolute;
			z-index: 999;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #e84c3d;
			transform: scaleX(0);
			transform-origin: 0 50%;
			pointer-events: none;
			animation-name: text-revealer;
		}
		


@keyframes clip-text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}


@keyframes text-revealer {
	
	0%, 50% {
		transform-origin: 0 50%;
	}
	
	60%, 100% {
		transform-origin: 100% 50%;		
	}

	
	60% {
		transform: scaleX(1);
	}
	
	100% {
    transform: scaleX(0);
  }
}

